<footer>
   <div class="container" style="margin-bottom: 50px;">
    <div class="cleft">
        <div class="info">
            <a href="#">Contact</a>
            <a href="#">Owners</a>
            <a href="#">Guidlines</a>
            <a href="#">Subscribe</a>
        </div>
    </div>
    <div class="cright">
        <i class="fa-solid fa-globe"></i>
        <a href="#">Select Language</a>
        <i class="fa-solid fa-angle-down"></i>
    </div>
   </div>
   <div class="container">
    <div class="cleft">
        <div class="info1">
            <a href="#">Corporate</a>
            <a href="#">Privacy</a>
            <a href="#">Cookies setting</a>
            <a href="#">Legal</a>
        </div>
    </div>
    <div class="right">
        <div><a href="#"><i class="fa-brands fa-x-twitter"></i></a></div>
        <div><a href="#"><i class="fa-brands fa-instagram"></i></a></div>
        <div> <a href="#"><i class="fa-brands fa-facebook"></i></a></div>
        <div><a href="#"><i class="fa-brands fa-linkedin"></i></a></div>
    </div>
   </div>
</footer>