<body>
   <div class="loginpage">
      <div class="logincontent">
         <!-- <img height="600px" width="300px" src="https://img.freepik.com/premium-photo/vintage-books-stack-black-board-background-vertical_771335-11070.jpg" alt=""> -->
         <div class="logininfo">
            <div class="logininfoheading">
               <br>
               Let’s Get You Logged In
               <hr>
            </div>
            <div class="form">
            <form action=""><br>
            <div style="font-size: 15px;opacity: .5;">Enter your 10 digit mobile number</div>
            <br>
            <input type="text">
            <br><br>
            <div style="font-size: 15px;opacity: .5;">By continuing, you agree to our Terms, Refunds and Privacy Policy</div>
            <br><br>
            <button style="background-color: #25a541;border: 1px solid #25a541;font-size: 15px;">CONTINUE</button>
         </div>
         </form>
            
         </div>
      </div>
      <div id="loginclose"><i class="fa-solid fa-xmark"></i></div>
   </div>
   <script src="/js/app.js"></script>
</body>