<nav>
    <div class="n_left">
        <a href="/home">
        <div class="n_left_items">
           
            <div><i  style="color: #1db954;" class="fa-solid fa-book"></i></div>
            <div style="font-size: 33px;">BookWise</div>
        </div>
    </a>
    </div>
    <div class="n_middle"> 
        <a href="/home#new"><div>Academic Books</div></a>
        <a href="/home#box"><div>Fiction</div></a>
        <a href="/home#best"><div>Self-Reading</div></a>
        <a href="/home#fiction"><div>Non-Fiction</div></a>
    </div>
    
    <div class="n_right">
        <div id="open" style="color: black;font-size: 25px;"><i class="fa-solid fa-magnifying-glass"></i></div>
        <a href="/posts/cart"> <div><i style="font-size: 25px;" class="fa-solid fa-cart-shopping"></i></div></a>
        <div class="account" id="openaccount">
            <i style="font-size: 15px;" class="fa-solid fa-bars"></i>
            <i class="fa-solid fa-user"></i>
        </div>
    </div>
    </div>
</nav>
<div class="userbox">
    <div class="openlogin">Login</div>
     <a href="/posts/account"><div>Account</div></a>
    <a href="http://127.0.0.1:8080/"><div>Sell your book</div></a>
    <!-- <a href="/home/login/sellyourbook"><div>Sell your book</div></a> -->
    <a href="/posts/helpcenter"><div>Help center</div></a>
    <a href="/posts/aboutus"><div>About us</div></a>

</div>
<div class="serachbox">
    <div>
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="text" placeholder="Serach Your Book" id="input">
    </div>
    <div id="close">
        <i class="fa-solid fa-xmark"></i>
    </div>
    
    <script src="/js/app.js"></script>
    <script src="/js/account.js"></script>
</div>

