<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart page</title>
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/help.css">
    <link rel="stylesheet" href="/css/show.css">
    <%- include("includes/header.ejs") %>
</head>
<body>
    <%- include("includes/nav.ejs") %>
    <div class="helpbody">
        <h1 >Contact us</h1>
        <div class="helpleft">
            <div class="helpleftup">
                Your trust is our top priority. Whether you have questions, need help, or just want to share feedback, we’re here to assist you. Feel free to reach out—we’re always ready to make your book-buying and selling experience smooth and hassle-free!
            </div>
            <div class="helpleftdown">
                <div class="downcomponent">
                    <i class="fa-solid fa-headphones"></i>
                    <div class="helpinfo">
                        <div class="heplheading">Phone Number</div>
                        <div class="helpsubheading">9999999999</div>
                    </div>
                </div>
                <div class="downcomponent">
                    <i class="fa-solid fa-envelope"></i>
                    <div class="helpinfo">
                        <div class="heplheading">Email</div>
                        <div class="helpsubheading">xyz7@gmail.com</div>
                    </div>
                </div>
                <div class="downcomponent">
                    <i class="fa-solid fa-location-dot"></i>
                    <div class="helpinfo">
                        <div class="heplheading">Our location</div>
                        <div class="helpsubheading">Amt,Maharashtra</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="helpright">

        </div>
    </div>
    
    <%- include("includes/footer.ejs") %>
</body>
</html>