.cartbody{
    height: 100vh;
    width: 100%;
    padding: 140px 100px 100px 100px;
    box-sizing: border-box;
    margin-bottom: 100px;
}
.cartcontent{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
h1
{
    font-weight: 400;
}
.cartcontent img{
    height: 300px;
}
.cartcontent form{
    margin: auto;
}
.cartcontent button{
    height: 65px;
    width: 250px;
    color: white;
    background-color: #1db954;
    border: 1px solid #1db954; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    border-radius: 7px;
    cursor: pointer;
    margin-top: 40px;
}